@font-face {
  font-family: Corsa Grotesk;
  src: url(fonts/Corsa_Grotesk_Regular.otf);
}

@font-face {
  font-family: Corsa Grotesk Thin;
  src: url(fonts/Corsa_Grotesk_Thin.otf);
}

body {
  margin: 0 0 0 0;
  font-family: 'Corsa Grotesk', 'Corsa Grotesk Thin', sans-serif;
  font-size: 0;
  min-height: 100vh;
}

.subheading {
  font-size: 40px!important;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  animation: fade-in 1s;
}

.main-hero {
  min-height: 100vh;
}

.bg-main {
  background-image: url('./images/home-background-ryan-griego.jpeg');
      background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
}

.bg-white {
  background-color: white !important;
  transition: background-color 0.5s ease;
}

.bg-transparent {

  background-color: transparent!important;
  transition: background-color 0.5s ease;
}

.overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.hero-container {
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
}

.hero-subheading {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.hero-image {
  max-width: 1200px;
  width: 100%;
}

.hero-name {

  color:white;
  font-size: 70px;
}

.applications-section {
  min-height: 90vh;
}

.footer {
  min-height: 100vh;
}

.main-hero,
.about-section,
.skills-section,
.tools-section,
.applications-section,
.footer {
  padding: 5rem 0rem;
}

.custom-badge {
  background-image: linear-gradient(-45deg, #1a9ba2, #18b082);
  font-weight: 300;
}

.card {
  transition: .3s all;
}

.skills-card {
  transition: .3s all;
  border: 1px solid transparent;
  z-index: 0;
}

.carousel {
  height: 450px;
}

.heading-div {
  width: fit-content;
}

.heading {
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-weight: 100;
}

a {
  color: #1a9ba2;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: .3s all;
}

a:hover {
  transition: .3s all;
  color: #1a9ba2;
  text-decoration: none;
}

a::before,
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3px;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: inline-block;
  transition: .3s all;
}

a::after {
  width: 0%;
  background: linear-gradient(-45deg, #1a9ba2, #18b082);
}

a:hover::after,
.content-div:hover .heading::after {
  width: 100%;
  transition: .3s all;
}

a.decoration-none:hover::before,
a.decoration-none:hover::after {
  display: none;
}

.icon-active {
  background: -webkit-linear-gradient(-45deg,#1a9ba2, #18b082);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .3s all;
}

.btn-share {
  width: calc(50% - .5rem);
  border: 3px solid #212529;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toggle-outer {
  width: 3rem;
}

.toggle-inner {
  height: 1.5rem;
  width: 1.5rem;
  transition: .3s all;
}

.left {
  transform: translate3d(0, 0, 0);
}

.right {
  transform: translate3d(1.5rem, 0, 0);
}

.default-nav {
  color: #00000080;
  border-color: #00000080;
}

.nav-link-white {
  color: white!important;
}

.sticky-top {
  position: fixed
}

.default-nav:hover {
  color: #000000b3;
  border-color: #000000b3;
}

/* This is where you can style the nav items when they're active */

.navbar ul li>.active {
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: black
}

.default-color {
  color: #212529;
  border-color: #212529;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.large-font {
  font-size: 6rem;
}

.medium-font {
  font-size: 2rem;
}

.small-font {
  font-size: 1.25rem;
}

.pointer {
  cursor: pointer;
}

.aka-button {
  padding: .75rem 2.5rem;
}

.aka-button-fill {
  background: #1a9ba2;
  border: 1px solid #1a9ba2;
  color: #ffffff;
}

.carousel-controls-div {
  width: fit-content;
}

.carousel-button {
  height: 50px;
  width: 50px;
  color: #979797;
  border: 1px solid;
}

.carousel-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.indicator {
  height: 1rem;
  width: 1rem;
  border-radius: 5rem;
  border: 1px solid #979797;
}

.indicator-active {
  height: 1rem;
  width: 1rem;
  border-radius: 5rem;
  background: #979797;
  border-color: #979797;
}

.carousel-indicator:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.card-body * {
  transition: .3s all;
  width: fit-content;
  margin: auto;
}

.item {
  box-shadow: 1px 2px 9px rgba(0, 0, 0, .12);
}

.border-div {
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid #212529;
  border-radius: 100px;
}

.border-div-small {
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid #00000080;
  border-radius: 100px;
}

.icon-svg {
  height: 6rem;
  width: 6rem;
}

.contact-general:hover,
.contact-general:hover>* {
  color: #000000b3;
  border-color: #000000b3;
  transition: .3s all;
}

.nihon-background {
  background: linear-gradient(-45deg, #1a9ba2ef, #18b082ef);
}

.topographic-2 {
  background-image: linear-gradient(-45deg, #1a9ba2ab, #18b082c4), url('./images/wood-pattern-trial.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.tools-section .card {
  border-color: transparent;
}

.smooth-transition {
  transition: .3s all;
}

.fade-in {
  animation: fade-in .75s;
  animation-fill-mode: both;
}

.fade-out {
  animation: fade-out .75s;
  animation-fill-mode: both;
}

.slide-in {
  animation: slide-in .75s;
  animation-fill-mode: both;
}

.slide-out {
  animation: slide-out .75s;
  animation-fill-mode: both;
}

.slide-in-10 {
  animation: slide-in-10 .75s;
  animation-fill-mode: both;
}

.slide-out-10 {
  animation: slide-out-10 .75s;
  animation-fill-mode: both;
}

.shimmer {
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #f8f8f8;
  background-image: linear-gradient(to right, #f8f8f8 0%, #eeeeee 15%, #f8f8f8 30%, #f8f8f8 100%);
}

.shimmer-background {
  background: #f8f8f8;
}

.header-logo {
  max-width: 330px;
  border-radius: 6px;
}

.btn.disabled-opacity,
.disabled-opacity {
  opacity: .1;
}

.footer-logo {
  border: 3px solid #212529;
  border-radius: 6px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .1);
  background-color: white;
}

@media (max-width: 768px) {
  .hero-graphic {
    min-height: 50vh;
  }
  .hero-name {
    font-size: 3rem;
  }
  .bg-main {
    background-position: left center;
  }

  .navbar-dark .navbar-toggler {
      background-color: rgb(240, 240, 240)!important;
  }

}

@media (max-width: 575px) {
  .mobile-six-row {
    justify-content: space-evenly;
  }
  .hero-name {
    font-size: 3rem;
  }

  .mobile-six-card {
    width: calc(50% - 30px);
    padding: 0px;
    margin-bottom: 15px;
  }
  .subheading {
    font-size: 30px !important;
  }
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    margin: 0 auto;
  }
  .bg-main {
    background-position: left center;
  }

  .navbar-dark .navbar-toggler {
    background-color: rgb(240, 240, 240)!important;
  }


}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-in {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes slide-out {
  0% {
    transform: translate3d(0, 0%, 0);
  }

  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide-in-10 {
  0% {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}

@keyframes slide-out-10 {
  0% {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(100%);
  }
}
